
/* 外枠 */
main{
  width: 300px;
  margin: 0 auto;


}

/* 画像 */
img{vertical-align: bottom;}


/* リスト関係 */
ul  {
  list-style: none;
  padding: 0;
  margin: 0;
}
#main{
width: 300px;
height: 200px;
margin-bottom: 8px;

}
nav{
margin-bottom: 8px;


}
nav  ul{
  display: flex;
  justify-content: space-between;

}

/* play > <の装飾 */
nav li {
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size:12px ;
  padding: 4px;
  text-align: center;
 } 

 nav li:hover{
   background: #f8f8f8;
 }

 
 #play{
   width: 140px;
 }

 
 #prev ,#next{
   width: 60px;
 }

 .thumbnails{
 display: grid;
 grid-template-columns: repeat(5,56px);
 gap:5px;
 }

 
 .thumbnails li {
   cursor:pointer;
   opacity: 0.4 ;
  }
  
  
  .thumbnails li:hover,
  .thumbnails li.current{
    opacity: 1;
    
  }
  .thumbnails img {
    width: 56px;
  }









